body {
  background-color:#1a1a1a;
  color:#ffffff;
  font-family: roboto;
}
/*Imported roboto font, made it dark mode, changed the buttons to not be
from 1996, aligned the title to center, changed the link color and covered
myself in oil :3 */
button{
  background-color:#d0d0e1;
  border-style:solid;
  border-color:#d0d0e1;
}
@font-face {
  font-family: roboto;
  src: url(font.ttf);
}
a {
    color: lightblue;
}
#title{
    text-align: center;
}
